---


const background = "white";
const backgroundDark = "black";
const text = "inherit";
const textDark = "inherit";
const onBackground = "black";
const onBackgroundDark = "white";
---

<style
    define:vars={{
        text,
        textDark,
        background,
        backgroundDark,
        onBackground,
        onBackgroundDark,
    }}
>
    nav#header {
        top:0;
        position: fixed;
        padding: 0.5em 2em;
        color: var(--onBackground);
        background-color: var(--background);
        z-index: 999999999;
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    #navbar-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
    }
    span#navbar-menu-icon {
        font-size: 20px;
    }
    #navbar-menu-icon,
    #navbar-close-menu-icon {
        display: none;
        cursor: pointer;
        padding: 0.5em;
    }
    #navbar-close-menu-icon {
        font-size: 2em;
    }

    #navbar-buttons > span > a {
        margin-left: 3em;
    }

    #logo {        
        display: inline-block;
        height: 24px;
        width: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/logo_black.svg");
    }
    a {
        text-decoration: none;
    }
    a,a:visited {
        color: var(--onBackground);
    }
    @media only screen and (max-width: 880px) {
        #logo {
            margin: 0 auto;
            height: 34px;
            width: 34px;
            margin-top: 0.2em;
            transform: translateX(-40%);
        }
        div#header {
            padding: 0.5em;
        }
        
        div#navbar-buttons {
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding-bottom: 8em;
            position: fixed;
            height: 100vh;
            width: 100vw;
            text-align: center;
            top: 0;
            left: 110vw;
            z-index: 10;
            background-color: var(--background);
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
        }
        #navbar-buttons > span > a {
            display: block;
            padding: 0.8em;
            margin: 1em 0;
        }
        #navbar-menu-icon, #navbar-close-menu-icon {
            display: inline-block;

        }
        
    }

    @media (prefers-color-scheme: dark) {
        #logo {
            background-image: url("/logo_white.svg");
        }
        nav#header,
        div#navbar-buttons {
            color: var(--onBackgroundDark);
            background-color: var(--backgroundDark);
        }
        a,a:visited {
            color: var(--onBackgroundDark);
        }
    }
</style>
<nav id="header">
    <span id="navbar-menu-icon">
        <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
            ><path fill="none" d="M0 0h24v24H0z"></path><path
                d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg
        >
    </span>
    
    <div id="navbar-buttons">        
        <span>
            <a href="/">Home</a>
            <a href="/resources">Resources</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
            <a href="/terms_of_use">Terms of use</a>
            <a href="/contact">Contact</a>
        </span>
        <span id="navbar-close-menu-icon">
            <svg
                stroke="currentColor"
                fill="currentColor"
                stroke-width="0"
                viewBox="0 0 512 512"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"
                ></path></svg
            >
        </span>
    </div>
    <div id="logo"></div>
</nav>
<script>
    const menuButton = document.getElementById("navbar-menu-icon")!;
    const navbarButtons = document.getElementById("navbar-buttons")!;
    const closeButton = document.getElementById("navbar-close-menu-icon")!;
    menuButton.onclick = () => {
        navbarButtons.style.left = "0";
    };
    closeButton.onclick = () => {
        navbarButtons.style.left = "110vw";
    };
</script>