---
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import { getEntry } from "astro:content";

export async function getStaticPaths() {
    const allBlogPosts: any = await Astro.glob("../../content/blog/*.md");
    return allBlogPosts.map((blog: any) => {
        return {
            params: {
                id: blog.frontmatter.id,
            },
            props: {
                blog,
            },
            frontmatter: blog.frontmatter,
        };
    });
}

// @ts-ignore
const { Content } = Astro.props.blog;
const { id } = Astro.params;
const blogPost = await getEntry("blog", id);
// @ts-ignore
const frontmatter = blogPost.data
---

<h1>
    <BlogPostLayout frontmatter={frontmatter}>
    <Content />
    </BlogPostLayout>
</h1>
