---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
    title="The Atlas of Comfort"
    description="A free and online reference tool for Designing, Evaluating and Commercializing more Comfortable Homes"
>
    <style is:global>
        #maindiv {
            padding-top: 4em;
            height: 100vh;
            width: 100vw;
            position: fixed;
            top: 0;
        }

        .hidden {
            display: none;
        }

        #diagram {
            float: left;
            padding-left: 1em;
            padding-right: 1em;
        }
        #text_aid {
            float: right;
            padding: 1em;
            color: rgb(50, 50, 50);
            -webkit-overflow-scrolling: touch;
        }
        #diagram,
        #text_aid {
            box-sizing: border-box;
            height: 85vh;
        }
        #diagram {
            width: 85vh;
        }
        #text_aid {
            height: 100vh;
            overflow-y: scroll;
            position: absolute;
            left: 85vh;
            padding-top: 0;
            right: 0;
        }
        #text_aid h1 {
            margin-top: 0;
            font-weight: normal;
            border-bottom: 1px solid rgb(190, 190, 190);
        }

        #content_text_aid h2 {
            font-size: 1.3em;
        }

        #content_text_aid h3 {
            font-size: 1.1em;
            margin-top: 1.8em;
            margin-bottom: 0.5em;
        }

        #content_text_aid p.quote {
            margin-bottom: 1.1em;
        }

        #content_text_aid {
            padding-bottom: 8em;
        }

        #diagram > svg {
            width: 100%;
            height: 90%;
        }

        /* Concentric circles */
        #diagram > svg circle.layer_circle {
            stroke: #8a8b8c;
            stroke-width: 0.3;
            stroke-dasharray: 3, 2;
            cursor: pointer;
            fill: #dce6f1;
        }

        #diagram > svg circle.layer_circle:hover,
        #diagram > svg circle.active {
            stroke-width: 0.5;
            stroke: rgb(60, 60, 60);
            fill: #b8cde3;
        }

        /* Circles representing codes */
        circle.domain_tag {
            opacity: 70%;
            stroke-width: 0;
        }

        circle.coolness {
            fill: #4fc1e8;
            stroke: #4fc1e8;
        }
        small.legend_circle.coolness {
            background-color: #4fc1e8;
        }

        circle.warmness {
            fill: #ed5564;
            stroke: #ed5564;
        }
        small.legend_circle.warmness {
            background-color: #ed5564;
        }

        circle.daylight {
            fill: #ffce54;
            stroke: #ffce54;
        }
        small.legend_circle.daylight {
            background-color: #ffce54;
        }

        circle.air_quality {
            fill: #ac92eb;
            stroke: #ac92eb;
        }
        small.legend_circle.air_quality {
            background-color: #ac92eb;
        }

        circle.acoustic {
            fill: #a0d568;
            stroke: #a0d568;
        }
        small.legend_circle.acoustic {
            background-color: #a0d568;
        }

        /* CODE GROUP */
        g.code_group {
            cursor: pointer;
        }
        g.code_group:hover *,
        g.code_group.active * {
            opacity: 90%;
            stroke-width: 0.5;
        }

        g.code_group.inactive * {
            fill: gray;
            opacity: 30%;
            stroke-width: 0;
        }

        g.code_group.inactive:hover * {
            fill: rgb(90, 90, 90);
            stroke: rgb(90, 90, 90);
            opacity: 80%;
            stroke-width: 0.5;
        }

        circle.layer_circle,
        g.domain_tag {
            transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        /* QUOTES */
        p.quote_text {
            font-style: italic;
            margin-bottom: 0;
        }

        p.quote_info {
            padding-left: 0em;
            margin-top: 0;
        }
        p.quote_info small {
            margin-right: 1em;
        }

        /* Quote tiles */
        div.respondent_quotes_container,
        div#content_text_aid blockquote {
            background: white;
            padding: 1em;
            padding-top: 0.5em;
            box-shadow:
                0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            border-radius: 1px;
            margin-bottom: 0.5em;
        }

        div.respondent_metadata_container small {
            margin-right: 1em;
            opacity: 0.6;
        }

        div.respondent_quotes_container p.quote {
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 1.05em;
        }

        ul.tabs_container {
            margin-bottom: 0.8em;
            padding: 0;
        }

        ul.tabs_container > li {
            display: inline-block;
            border: none;
            text-align: center;
            background: transparent;
            color: #616161;
            padding: 0.5em 1.5em;
            cursor: pointer;
            font-size: 0.85em;
        }
        ul.tabs_container > li.active {
            border-bottom: 2px solid #34618e;
            background-color: rgba(52, 97, 142, 0.3);
            color: #34618e;
        }

        ul.tabs_container > li:hover {
            color: #34618e;
            background-color: rgba(52, 97, 142, 0.1);
        }

        div.tab_page_container > div.list {
            background: white;
        }
        div.tab_page_container > div.list > p,
        div.tab_page_container > div.list > a,
        a.list_element {
            padding: 1em;
            border: 1px solid #e5e5e5;
            margin: 0;
        }

        a.list_element {
            background-color: white;
        }

        div.tab_page_container > div.list > a,
        a.list_element {
            display: block;
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }

        div.tab_page_container > div.list > a:hover,
        a.list_element:hover {
            color: #34618e;
            background-color: rgba(52, 97, 142, 0.1);
        }

        div.tab_page_container > div.tab_page {
            display: none;
        }

        div.tab_page_container > div.active {
            display: block;
        }

        div#content_text_aid > p > a {
            cursor: pointer;
            color: #34618e;
            font-weight: bold;
            text-decoration: none;
        }

        div#content_text_aid blockquote {
            font-style: italic;
            text-align: right;
            font-family: Georgia, "Times New Roman", Times, serif;
            color: rgb(80, 80, 80);
        }

        small#tooltip {
            position: fixed;
            background-color: rgba(20, 20, 20, 0.75);
            border-radius: 5px;
            color: white;
            padding: 0.5em;
            transform: translate(1em, -2em);
            opacity: 0%;

            transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            -webkit-transition: opacity 0.25s ease-in-out;
        }
        small#tooltip.active {
            opacity: 100%;
        }

        .show_on_mobile {
            display: none;
        }

        #bottom_navbar {
            display: none;
        }

        /* LEGEND CONTAINER */
        #legend_container {
            text-align: center;
        }

        #legend_container p {
            display: inline-block;
            margin: 0 0.5em;
        }

        #legend_container small {
            display: inline-block;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            margin-right: 0.3em;
        }

        

        @media only screen and (max-width: 770px) {
            #text_aid {
                position: fixed;
                padding-top: 2.7em;
                top: 0;
                background-color: transparent;
                transition: all 0.2s;
                left: 0;
                padding-top: 4em;
            }

            #diagram {
                display: none;
            }

            .hide_on_mobile {
                display: none;
            }

            .show_on_mobile {
                display: inherit;
            }

            #bottom_navbar {
                display: block;
                position: fixed;
                bottom: 0;
                margin: 0;
                width: 100vw;
                left: 0;
                text-align: center;
                cursor: pointer;
                background-color: #34618e;
            }

            #bottom_navbar.hidden {
                display: none;
            }

            #bottom_navbar > p {
                display: inline-block;
                margin: 0 auto;
                color: white;
                padding: 0.7em 2em;
            }

            ul.tabs_container {
                border-top: 1px solid rgb(200, 200, 200);
                border-bottom: 1px solid rgb(200, 200, 200);
            }

            div#content_text_aid blockquote {
                margin-left: 0;
                margin-right: 0;
            }
        }
    </style>

    <script>
        import Router from "../components/atlas/router";
        import Diagram from "../components/atlas/diagram";
        let router: Router | undefined = undefined;

        let diagram: Diagram | undefined = undefined;

        
        window.onload = function () {
            router = new Router();

            function resolveURL() {
                var path = router!.getFragment();
                router!.resolveUrl(path, diagram!);
            }

            fetch("/api/schema/summary", { method: "GET" }).then(async (r) => {
                if (!r.ok) {
                    throw new Error("oh no!");
                }

                let response = await r.json();

                // build the diagram                
                diagram = new Diagram(router!, "diagram", response.layers);
                diagram.draw();

                diagram.clean();

                resolveURL();
            });
            window.onpopstate = resolveURL;
        };
    </script>

    <div id="maindiv">
        <div id="diagram"></div>

        <div id="text_aid">
            <div>
                <h1 id="title_text_aid">This is the Atlas of Comfort</h1>
            </div>
            <div id="content_text_aid"></div>
        </div>
    </div>

    <small id="tooltip">TOOLTIP!</small>

    <div id="bottom_navbar">
        <p id="back_to_layers_button">BACK TO LAYERS</p>
        <p id="back_button">BACK</p>
    </div>

    
</MainLayout>
