---

import '@fontsource-variable/montserrat';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

console.log(title);
---

<!doctype html>
<html lang="en">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
    </head>
    <body>
        <style is:global>
            * {
                box-sizing: border-box;
                color: #2a2a2a;
                font-family: 'Montserrat Variable', sans-serif;

            }
            body {
                background-color: #f5f5f5;
            }
        </style>
        <slot />
    </body>
</html>
